* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "StandardPoster";
  src: url("/../public/fonts/StandardPoster.eot");
  src:
    local("☺"),
    url("/../public/fonts/StandardPoster.woff") format("woff"),
    url("/../public/fonts/StandardPoster.ttf") format("truetype"),
    url("/../public/fonts/StandardPoster.svg") format("svg");
  font-weight: normal;
  font-style: normal;
} */

html {
  scroll-behavior: smooth; /* плавно перемещались по странице при использовании якорных ссылок */
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #0b0c18;
  background-image: url("/../public/img/main/bg01.png");
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: clamp(14px, 2vw, 20px);
}

h1 {
  font-size: clamp(24px, 5vw, 40px); /* Пример для h1 */
}

h2 {
  font-size: clamp(22px, 4vw, 36px); /* Пример для h2 */
}

h3 {
  font-size: clamp(20px, 3vw, 32px); /* Пример для h3 */
}

h4 {
  font-size: clamp(18px, 2.5vw, 28px); /* Пример для h4 */
}

h5 {
  font-size: clamp(16px, 2vw, 24px); /* Пример для h5 */
}

h6 {
  font-size: clamp(14px, 2vw, 20px); /* Пример для h5 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: clamp(12px, 2vw, 18px);
  text-align: justify;
}

img {
  max-width: 100%;
}

.container {
  padding: 15px;
  margin: 10px auto;
  max-width: 1000px;
  background-color: #000000cf;
  border-radius: 15px;
  border: 1px solid gold;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.des-btn {
  display: inline-block;
  color: #ffffff;
  background: #0b0c18;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid gold;
  border-radius: 10px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
}

.des-btn:hover {
  box-shadow: 0 0 20px goldenrod;
  transform: scale(1.05);
  color: #ffffff;
}

.des-btn2 {
  display: inline-block;
  /* color: #ffffff;
  background: #0b0c18;
  padding: 5px 10px; */
  font-size: 1.3rem;
  /* border: 1px solid gold;
  border-radius: 10px; */
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
}
.des-btn2:hover {
  /* box-shadow: 0 0 20px goldenrod; */
  transform: scale(1.1);
  color: #ffffff;
}

/* оповещения */
.mobile-notifications a {
  background-color: red;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  top: 8px;
  right: 50px;
  position: absolute;
  padding: 0 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/* Menu */
.profile-link a,
 .log-link a
 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00CCFF;
  text-decoration: none;
}

.mobile-notifications a:hover,
.logout-icon:hover,
.profile-link a:hover,
.log-link a:hover {
  color: goldenrod;
}

/* Стили для переключателя языков */
.language-switcher {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  left: 130px;
  display: flex;
  flex-direction: column; /* Элементы будут отображаться в столбик */
  /*gap: 5px;  Добавляем отступ между элементами (опционально) */
}

.language-switcher a {
  color: #585858;
  font-size: 12px;
  text-decoration: none;
}

.language-switcher a.active {
  color: #00CCFF;
}

.language-switcher a:hover {
  color: goldenrod;
}

/* Header */
/* блок вход регистрация */
.header {
  background-color: #000000cf;
  margin: 20px auto 0 auto;
  border: 1px solid gold;
  max-width: 800px;
  min-width: 300px;
  border-radius: 15px;
  text-align: center;
}

img.avatar {
  border-radius: 50%;
  border: 2px solid gold;
  margin: 25px auto 25px auto;
}
