/* Основные стили для меню */
.knopkodav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.header-menu {
  flex: 1;
  text-align: center;
  
  position: relative;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.header-menu a {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

/* Стили для кнопки подменю */
.submenu-button {
  width: 100px;
  height: 100%;
  background-color: #0b0c18;
  border: 1px solid gold;
  padding: 25px 0px;
  color: gold;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.submenu-button:hover {
  background-color: #FFD700;
  color: black;
}

.active-section-menu {
  line-height: 1.2;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #2b2c2e;
  margin: 15% auto;
  padding: 20px 30px;
  border-radius: 8px;
  border: rgb(255, 0, 255) 2px solid;
  max-width: 720px;
  text-align: center;
}

.modal-content a {
  display: block;
  margin: 10px 0;
  background-color: #0B0C18;
  color: #00ffff;
  text-decoration: none;
  border: 1px solid gold;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.modal-content a:hover {
  background-color: #131b7c;
  border: 1px solid goldenrod;
  box-shadow: 0 0 10px 5px gold;
  color: gold;
}

.close {
  color: red;
  float: right;
  font-size: 36px;
  font-weight: bold;
  margin-top: -32px;
  margin-right: -28px;
}

.close:hover,
.close:focus {
  color: #00ffff;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для мобильного меню */
.mobile-hamburger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0b0c18;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  border-bottom: 1px solid gold;
}
.logo_name {
  color: gold;
}

.logo_name:hover {
  color: #FF00FF;
}

.mobile-hamburger-button, .mobile-auth-buttons  {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.mobile-hamburger-menu {
  display: none;
  flex-direction: column;
  background-color: #000000cf;
  border-radius: 15px;
  border: 1px solid gold;
  color: #f8f9fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.mobile-chapter-container {
  margin: 5px 0;
  border: 1px solid #154472;
  border-radius: 8px;
  overflow: hidden;
  background: #0b0c18ce;
  height: auto;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.mobile-chapter-header {
  padding: 15px 20px;
  background: #1a1a2e;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.mobile-chapter-header.has-submenu::after {
  content: "▼";
  font-size: 0.8em;
  color: #d7fc09;
  position: absolute;
  right: 25px;
  transition: transform 0.3s ease;
  display: block;
}

.mobile-subchapters {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-subchapter-item {
  padding: 15px 25px;
  border-top: 1px solid rgba(44, 62, 80, 0.5);
  background: #0b0c18ce;
  color: #ffffff;
  transition: background 0.2s ease;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  z-index: 2;
}

.mobile-subchapter-item:hover {
  background: #1a1a2e;
}

@media (max-width: 768px) {
  .mobile-hamburger-button {
      display: block;
  }

  .knopkodav {
      display: none;
  }
}

@media (min-width: 769px) {
  .mobile-hamburger-header, .mobile-auth-buttons {
      display: none;
  }
}

/* Стили для переключателя языков */
.language-switcher {
text-align: right;
font-size: 12px;
margin-top: 10px;
padding-right: 10px;
}

.language-switcher a {
color: #9c9c9c;
margin: 0 5px;
font-size: 12px;
padding: 5px;
}

.language-switcher a.active {
font-weight: bold;
color: #007bff;
}

.language-switcher a:hover {
background-color: #fff;
color: #000;
}

/* Стили для входа и регистрации в строке с кнопкой гамбургер-меню */
.mobile-username, .mobile-logout, .mobile-login, .mobile-register {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.mobile-logout, .mobile-login, .mobile-register {
  cursor: pointer;
}
