/* Стили для мобильного меню */
.mobile-hamburger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0b0c18;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  border-bottom: 1px solid gold;
  font-family:StandardPoster;
  
}

.mobile-logo-name {
  color: gold;
  
}

.mobile-logo-name:hover {
  color: goldenrod;
}
.logout-icon {
  width: 1em;
  height: 1em;
}
.mobile-hamburger-button,
.mobile-auth-buttons,
.logout-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: clamp(18px, 1.5vw, 36px);
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.mobile-hamburger-button:hover, 
.logout-icon:hover {
  color: goldenrod;
}

.mobile-hamburger-menu {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.81);
  border-radius: 15px;
  border: 1px solid gold;
  color: #f8f9fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  position: fixed;
  top: 75px;
  left: 0;
  transform: translateX(10%);
  z-index: 12;

}

.mobile-chapter-container {
  margin: 5px 0;
  border: 1px solid #00CCFF;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(11, 12, 24, 0.81);
  height: auto;
  transition: all 0.3s ease;
  text-decoration: none;
  
}

.mobile-chapter-header {
  padding: 15px 20px;
  background: #1a1a2e;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.mobile-chapter-header a {
color: #00CCFF;
text-decoration: none;
}
.mobile-chapter-header a:hover{
  color: gold;
}


.mobile-subchapters {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-subchapters.open {
  max-height: 200px;
}

.mobile-subchapter-item {
  display: block;
  padding: 15px 25px;
  border-top: 1px solid rgba(44, 62, 80, 0.5);
  background: rgba(44, 47, 94, 0.81);
  color: #ffffff;
  transition: background 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.mobile-subchapter-item:hover {
  background: #4c4c6e;
}

/* Стили для переключателя языков */
.language-switcher {
  position: absolute;
  font-size: 12px;
  font-weight: bold;  
  left:130px; 
}

.language-switcher a {
  color: #e4e4e4;  
  font-size: 12px;  
  text-decoration: none;
}

.language-switcher a.active {  
  color: #00CCFF;
}

.language-switcher a:hover {
  color: goldenrod;
}

